@page "/help"

<h3 style="color: darkmagenta;">Help &amp; User Guide</h3>
<p>
    Welcome to the Event Ease Application! This webapp lets you manage and register for events easily. Here’s how it works:
</p>
<ul>
    <li><b>Events List:</b> View all upcoming events with details and images. You can also Edit the details or delete events.</li>
    <li><b>Register For Event:</b> Click an event to register. Enter your details and select one or more events. Duplicate registrations for the same event/email are prevented.</li>
    <li><b>Add Event:</b> Organizers can add new events with name, date, location, description, and image.</li>
    <li><b>Edit/Delete:</b> Edit or remove events from the Events List page.</li>
    <li><b>Paging:</b> Large event lists are paged for easy navigation.</li>
    <li><b>Session Info:</b> Your session details are shown in the header. This is a way to showcase user session management.</li>
</ul>
<p>
    For more information, see the <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">ASP.NET Core documentation</a>.
</p>
